
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


:root {
  --primary-color: #f4f6f7;
  --primary-alpha-color: rgba(227, 232, 234, 0.9); 
  --title-color: #393e46;
  --form-question-color: #454e59;
  --stats-color: #5c6d7e;
  --shadow-color: #a4b1bc;
  --checkbox-color: #71c9ce;
  --hover-gradient: linear-gradient(45deg, #71c9ce, #393e46); 
  --button-hover-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  --transition-speed: 0.3s; 
}


body {
  background-color: var(--primary-color);
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.6; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.app {
  background-color: var(--primary-alpha-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  box-shadow: 0 0.8rem 0.8rem var(--shadow-color);
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all var(--transition-speed); 
  &:hover {
    box-shadow: 0 1rem 1rem var(--shadow-color);
  }
}


.title {
  color: var(--title-color);
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--shadow-color);
}


.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem;
  margin: 1.5rem;
}

.form-question {
  color: var(--form-question-color);
  font-weight: bold; 
}

.form-select,
.form-input,
.form-btn {
  border-radius: 0.3rem;
  height: 1.8rem;
  cursor: pointer;
  border: 1px solid var(--title-color);
  transition: border-color var(--transition-speed);
  &:hover {
    border-color: var(--checkbox-color); 
  }
}


.form-input {
  width: 20rem;
  padding: 0.5rem;
}


.form-btn:hover,
.action-btn:hover {
  background-image: var(--hover-gradient);
  color: var(--primary-color);
  box-shadow: var(--button-hover-shadow);
}
